
.main-cont{
    
    overflow: scroll;
    min-height: 500px;
    width: 700px;
    background-color: rgb(1, 19, 1);
    border-radius: 10px;
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.main-cont::-webkit-scrollbar{
    display: none;
}
.box{
    
    position: relative;
    border: 2px solid black;
    height: 200px;
    width: 200px;
    background-color: rgb(30, 8, 51);
    text-align: center;
    text-decoration: none;
    align-items: center;
}
.box:hover{
    border: 2px solid white;
}
.square{
    height: 70px;
    width: 70px;
    border: 3px solid whitesmoke;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-items: center;
}
.dasgd{
    position: absolute;
    top: 10px;
    left: 38%;
    font-weight: bold;

}
.cross{
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: large;
    transform: scale(1.2);
}
.cross:hover{
    transform: scale(1.5);
}
.cross:active{
    transform: scale(1);
    background-color: red;
}
@media screen and (max-width:400px) {

   .main-cont{
    height: auto;
    width: auto;
    left: 0;
    /* transform: scale(0.7); */
   }
   .box{
    /* transform: scale(0.7); */
}
.dowbload-cont{
       transform: scale(0.7);
       left: 0;

   }
    
    }